<!doctype html>
<html lang="es" ng-app="appDemo">
<head>
  <meta charset="utf-8">
  <title>Mi primera App Angular</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
</head>
<body>

    <div class="container">
        <div class="row">
            <div class="col-xs-12">

                <h1 class="jumbotron">Mi primera App Angular</h1>
                <!-- Content Body -->
                <div ng-controller="InstrumentosListadoCtrl">
                    <ul class="list-group">
                        <li class="list-group-item">
                            <form class="form-inline" ng-submit="registrar()">
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Marca" ng-model="marca" ng-required="true">
                                </div>
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Nombre" ng-model="nombre" ng-required="true">
                                </div>
                                <div class="form-group">
                                    <input type="float" class="form-control" placeholder="Precio" ng-model="precio" ng-required="true">
                                </div>
                                <button type="submit" class="btn btn-default">Agregar</button>
                            </form>
                        </li>
                        <li class="list-group-item" ng-repeat="m in model">
                            <button class="btn btn-danger btn-xs pull-right" ng-click="retirar($index)" type="button">X</button>
                            <b>{{ m.marca }}</b> {{ m.nombre }} - USD {{ m.precio }}
                        </li>
                    </ul>                    
                </div>
            </div>
        </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.min.js"></script>
    <script src="controllers.js"></script>
</body>
</html>